tr(id='rowcpu-#{id}')
  td.name #{name}
  td
    span(id='rowcpu-sum-#{id}') #{data.sum}
    span ms
  td
    span(id='rowcpu-cnt-#{id}') #{data.cnt}
  td
    span(id='rowcpu-avg-#{id}') #{data.avg}
    span ms
